<form method="POST" action="/posts">
  <p>Enter Post Name:<input type="string" name="name"></p>
  <p>Enter Content:<input type="string" name="content"></p>
  <input type="submit" value="submit">
</form>
